<% provide(:title, @user.name) %>
<div class="row-fluid">
	<aside class="span4">
		<section>
			<%#= gravatar_for @user %>
			<h2 id="username"><%= @user.name %></h2>
		</section>
	</aside>
	<section class="offset3 span5">
		<div class="well">
			<h4>Total Balance: <%= open(@uri).read.to_f/(10**8) %> BTC</h4>
		</div>
	</section>
</div>

<% if @user.addresses.any? %>
<%= render 'partials/graphs/piechart_dashboard' %>
<div class="row-fluid">
	<%= render 'partials/tables/dashboard_table' %>
</div>
<% end -%>
<br>
<%= link_to "Add address", new_address_path, class: "btn btn-primary" %>
