<script type='text/javascript'>
google.load('visualization', '1.1', {'packages':['controls','table','annotationchart']});
google.setOnLoadCallback(drawChart);
function drawChart() {
	var data = new google.visualization.DataTable();
	data.addColumn('date', 'Date');
	data.addColumn('number', 'Daily Income (BTC)');
	data.addColumn('number', 'Daily Income (USD)');

	<% (0..90).each do |i|
		start_t = Time.new.to_time.to_i - 86400*(i+1)
		end_t = Time.new.to_time.to_i - 86400*i
		income = open("https://blockchain.info/q/getreceivedbyaddress/#{@address.public_key}?start_time=#{start_t}000&end_time=#{end_t}000").read.to_f/(10**8)
		%>

		data.addRows([
			[new Date(<%= Time.new.year %>, <%= Time.now.month %>-1,<%= Time.new.day - i%>), <%= income %>, <%= income*4 %>]
			]);

	<% end -%>

		var chart = new google.visualization.AnnotationChart(document.getElementById('anno'));
		chart.draw(data, {displayAnnotations: false});

		var table = new google.visualization.Table(document.getElementById('chart2'));
		table.draw(data, {allowHtml: true, width: '950px'});

	}

	</script>

	<div id='anno'></div>
	<div id="chart2"></div>
