<% provide(:title, 'Add Address') %>

<div class="row">
	<div class="span6 offset3">
		<h1>Add Address</h1>
		<div class="row-fluid">
			<div class="span3">
			<select name="currency_type">
				<option value="0" selected="selected">Bitcoin</option>
				<option value="1" disabled>Litecoin</option>
				<option value="2" disabled>Peercoin</option>
				<option value="3" disabled>Dogecoin</option>
			</select>
			</div>
		</div>


		<%= form_for(@address) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.label :address %>

		<%= f.text_field :public_key, place_holder: "Public Address" %>

		<%= f.submit "Link Address", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
